.footer-body {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 5em;
  background-color: black;
  color: white;
}
.footer {
  width: 25%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
}

.footer::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 2px;
  background-color: white;
  transform: translateX(-5em);
}
