* {
  box-sizing: border-box;
}
#light p {
  color: rgba(0, 0, 0, 0.6);
}
#dark p {
  color: rgba(0, 0, 0, 0.9);
}

#light.container {
  background-color: white;
}
#dark.container {
  background-color: black;
}

.header-container {
  padding: 2em;
  position: relative;
}

button {
  padding: 1em 2.5em;
  border-radius: 15px;
  font-size: 0.9em;
  cursor: pointer;
}
.button1 {
  border: 1px solid #147814;
  background-color: transparent;
}
.button2 {
  color: white;
  background-color: #50b450;
  border: none;
}
#light.button1 {
  border: 1px solid #147814;
  color: #147814;
}
#dark.button1 {
  border: 1px solid #4ccf4c;
  color: #4ccf4c;
}
#light.button1:active {
  color: #4ccf4c;
}
#dark.button1:active {
  color: #147814;
}
#light.button2:active {
  color: black;
}
#dark.button2:active {
  background-color: #147814;
}

.header-overlay img {
  position: absolute;
  width: 96%;
  object-fit: cover;
  height: 100vh;
  opacity: 0.03;
}

/* mobile design */
@media (max-width: 480px) {
  .container {
    max-width: 480px;
    font-size: 0.8em;
  }
  .header-overlay img {
    width: 80%;
  }
}

.cars-item {
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.feedback {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 3em;
}
